.importante{
    color: #508AA8;
    background-color:springgreen;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}
body{
    background-color: #508AA8;

}

img{
    padding: 5px 5px 5px;
}